body {
	background: url("img/1.jpg") no-repeat;
	background-size: auto 100%;
	background-attachment: fixed;
	color: black;
	overflow: hidden;
	font-size: 14px;
}

.content {
	max-width: 1024px;
	margin: 0 25% 0 25%;
	background-color: rgb(219, 219, 219);
	height: 700px;
	border-radius: 15px;
}

h1 {
	margin-left: 40px;
	font-size: 40px;
}

.sidebar {
	background-color: rgb(0,0,180,0.8);
	height: 100%;
	width: 35%;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	color: white;
	font-size: 12px;
	float: left;
	font-family: 'Poppins', sans-serif;
}
.sidebar img {
	margin: 30px 19%;
	border: 2px solid white;
}
li {
	list-style: none; 
	padding-left: 24px; 
	margin-bottom: 10px;
}
/*CF4096*/
#address {
	background: url(img/icons/placeholder.png) no-repeat;
}
#phone {
	background: url(img/icons/phone.png) no-repeat; 
}
#email {
	background: url(img/icons/email.png) no-repeat;
}
#github {
	background: url(img/icons/github.png) no-repeat;
}
#skype {
	background: url(img/icons/skype.png) no-repeat 0 7px;
}
#instagram {
	background: url(img/icons/instagram.png) no-repeat 0 7px;
}
.about-me, .social {
	padding-left: 10px;
	margin: 15px;
}
.sidebar h3 {
	padding-left: 15px;
}

main {
	width: 65%;
	float: right;
	font-family: 'Lato', sans-serif;
}
article {
	margin: 0 20px;
}

.education-content {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 2fr 1fr 1fr;
}
.education-content div p {
	margin: 2px;
}

.experience-content {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	text-align: center;
}

.skills li {
	list-style: circle inside;
}